header {
	text-align:center;
	padding-top:20px;
	font-size:40px;
	font-family:Arial;
}
body {
	width:1200px;
	margin:auto;
	background: #e8e8e8;
}
.fon {
	background: white;
	box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
	border-radius:10px;
	padding-left:15px;
	margin-top:20px;
}
nav {
	width: 175px;
	float: left;
	height: 145px;
}
li {
	list-style-type:none;
}
.menu {
	margin-left:0;
	padding-left:0;
}
a.button15 {
	display: inline-block;
	font-family:arial, c, serif;
	font-size: 12px;
	font-weight: bold;
	color: rgb(68,68,68);
	text-decoration: none;
	user-select: none;
	padding: 10px 15px;
	outline: none;
	border: 1px solid rgba(0,0,0,.1);
	border-radius: 2px;
	background: rgb(245,245,245) linear-gradient(#f4f4f4, #f1f1f1);
	transition: all .218s ease 0s;
	margin: 5px 0;
}
a.button15:hover {
	color: rgb(24,24,24);
	border: 1px solid rgb(198,198,198);
	background: #f7f7f7 linear-gradient(#f7f7f7, #f1f1f1);
	box-shadow: 0 1px 2px rgba(0,0,0,.1);
}
a.button15:active {
	color: rgb(51,51,51);
	border: 1px solid rgb(204,204,204);
	background: rgb(238,238,238) linear-gradient(rgb(238,238,238), rgb(224,224,224));
	box-shadow: 0 1px 2px rgba(0,0,0,.1) inset;
}
.text {
	margin-top:10px;
	padding-top:10px;
	margin-left: 180px;
	margin-right: 10px;
}
.kartinka {
	margin-top:70px;
	margin-left:245px;
}
.table_import1 {
	font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
	font-size: 14px;
	border-radius: 10px;
	border-spacing: 0;
	width:100%;
	background:linear-gradient(90deg, #ffd877, #fbffdf);
	box-shadow: inset 0 0 6px 6px white;
}
.table_import1 th {
	color: black;
	text-shadow: 0 1px 1px gainsboro;
	padding: 10px 20px;
}
/*.table_import1 td, th {
	border: 1px solid black;
	padding:3px;
}*/
.table_import1 th, td {
	/*border-style: solid;
	border-width: 0 1px 1px 0;
	border-color: white;*/
}
.table_import1 td {
	padding: 10px 20px;
}
h3 {
	margin-left:10px;
	padding-top:5px;
	padding-bottom:5px;
}