.icon-Amplifier {
  background-image: url(object1/sprite.png);
  background-position: -54px 0px;
  width: 54px;
  height: 54px;
}
.icon-Bearing {
  background-image: url(object1/sprite.png);
  background-position: 0px -108px;
  width: 54px;
  height: 54px;
}
.icon-Coil {
  background-image: url(object1/sprite.png);
  background-position: 0px -54px;
  width: 54px;
  height: 54px;
}
.icon-Cyclotron {
  background-image: url(object1/sprite.png);
  background-position: -54px -54px;
  width: 54px;
  height: 54px;
}
.icon-Designator {
  background-image: url(object1/sprite.png);
  background-position: -108px 0px;
  width: 54px;
  height: 54px;
}
.icon-Locator {
  background-image: url(object1/sprite.png);
  background-position: -108px -54px;
  width: 54px;
  height: 54px;
}
.icon-Radar-detector {
  background-image: url(object1/sprite.png);
  background-position: 0px 0px;
  width: 54px;
  height: 54px;
}
.icon-Rangefinder {
  background-image: url(object1/sprite.png);
  background-position: -54px -108px;
  width: 54px;
  height: 54px;
}
.icon-Sheating {
  background-image: url(object1/sprite.png);
  background-position: -108px -108px;
  width: 54px;
  height: 54px;
}
.icon-Stabilizer {
  background-image: url(object1/sprite.png);
  background-position: -162px 0px;
  width: 54px;
  height: 54px;
}
.icon-Storage-device {
  background-image: url(object1/sprite.png);
  background-position: -162px -54px;
  width: 54px;
  height: 54px;
}
.icon-Turbocharging {
  background-image: url(object1/sprite.png);
  background-position: -162px -108px;
  width: 54px;
  height: 54px;
}
