.icon-Battery {
  background-image: url(object2/sprite.png);
  background-position: 0px 0px;
  width: 54px;
  height: 54px;
}
.icon-Field {
  background-image: url(object2/sprite.png);
  background-position: -54px 0px;
  width: 54px;
  height: 54px;
}
.icon-Mine {
  background-image: url(object2/sprite.png);
  background-position: 0px -54px;
  width: 54px;
  height: 54px;
}
.icon-Nitro {
  background-image: url(object2/sprite.png);
  background-position: -54px -54px;
  width: 54px;
  height: 54px;
}
.icon-Pharmacy {
  background-image: url(object2/sprite.png);
  background-position: -108px 0px;
  width: 54px;
  height: 54px;
}
.icon-Scanner {
  background-image: url(object2/sprite.png);
  background-position: -108px -54px;
  width: 54px;
  height: 54px;
}
.icon-Shield {
  background-image: url(object2/sprite.png);
  background-position: 0px -108px;
  width: 54px;
  height: 54px;
}
.icon-Shots {
  background-image: url(object2/sprite.png);
  background-position: -54px -108px;
  width: 54px;
  height: 54px;
}
.icon-Smoke {
  background-image: url(object2/sprite.png);
  background-position: -108px -108px;
  width: 54px;
  height: 54px;
}
