body {
	background: #001319 url("/points/bg-body.jpg")no-repeat 50% 0 ;
	margin: 0;
	color: #001319;
	font: 14px/37px Tahoma, Arial, Helvetica, sans-serif;
	text-transform:initial;
	font-weight: normal;
	line-height: 18px;
}
.main {
	width: 1168px;
	margin: 0 auto;
}
#logos {
	height: 68px;
	padding: 56px 100px 0 184px;
	position: relative;
}
.clearfix:after {
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}
h1 {
	font-size:100%;
	font-weight:normal;
}
.logomwo {
	background:url("/points/LogoWMO.png") no-repeat;
	width: 220px;
	height: 104px;
	margin: 0;
	text-indent: -9999px;
	position: absolute;
	top: 35px;
	left: 44%;
}
.logomwo a {
	display:block;
	height:50%;
}
.table-t {
	background:url("/points/bg-main.png") no-repeat;
	min-height: 890px;
	padding: 53px 103px 0;
}
#nav-balls {
	float: right;
	width: 260px;
	margin-top: 10px;
}
.nav-bottom {
	margin: 0;
	padding: 13px 0 10px;
	list-style: none;
}
.nav-bottom li {
	padding-bottom: 3px;
	height: 54px;
	vertical-align: top;
	line-height: 17px;
}
.nav-bottom li a{
	display: block;
	width: 215px;
	height: 35px;
	padding: 19px 33px 0;
	overflow: hidden;
	background: url("/points/bg-add-nav.png") no-repeat;
	color: #ebe3e3;
	text-decoration: none;
}
.nav-bottom li a:hover, .nav-bottom li.active a {
	text-decoration:none;
	background-position:0 -54px;
}
ul {
	display: block;
	list-style-type: disc;
	margin-block-start: 1em;
	margin-block-end: 1em;
	margin-inline-start: 0;
	margin-inline-end: 0;
	padding-inline-start: 40px;
}
li {
	display: list-item;
	text-align: -webkit-match-parent;
}
.tabl {
	width:100%;
}
.ball {
	background:white;
	width:600px;
	height:auto;
	float:left;
}
/* -------------------------------------------------------------------------
-------------------ДАЛЬШЕ СПЕЦИАЛЬНО ДЛЯ СПИСКА ПРИЗОВ ---------------------
 -----------------------------------------------------------------------*/
input {
	outline:none;
}
.spisok-priz {
	padding-bottom:5px;
	float:left;
	width:675px;
	background:url("/points/bgg.jpg") repeat;
	margin-top:25px;
	margin-left:-20px;
	border-top-left-radius:21px;
	border-top-right-radius:21px;
	border: 2px solid #3d7c81;
}
.spisok-priz1 {
	float:left;
	width:675px;
	background:url("/points/bgg.jpg") repeat;
	margin-top:25px;
	margin-left: -20px;
	border-top-left-radius:21px;
	border-top-right-radius:21px;
	border: 2px solid #3d7c81;
}
.heding {
	position: relative;
	height: 37px;
	padding: 0 16px;
	background: url("/points/bg-ttl.gif") repeat-x;
	font: 14px/37px Tahoma, Arial, Helvetica, sans-serif;
	color: #feffff;
	text-transform: uppercase;
	border-top-left-radius:20px;
	border-top-right-radius:20px;
	-webkit-border-top-left-radius: 20px;
	-webkit-border-top-right-radius: 20px;
	-moz-border-radius-topleft: 20px;
	-moz-border-radius-topright: 20px;
	margin:0;
}
/* -------- ОБЩАЯ ТАБЛИЦА-----------------------
--------------НАЧАЛО----------------------------*/
.table_dark {
	font-size: 14px;
	width: 665px;
	text-align: left;
	border-collapse: collapse;
	background: #d0e7ed;
	margin-top: 5px;
	margin-left: 5px;
}
.table_dark th {
	border-bottom: 3px solid #a5c3cd;
	padding: 12px 17px;
	text-align:center;
}
.table_dark td {
	color: #000000;
	border-bottom:3px solid #a5c3cd;
	border-right:3px solid #a5c3cd;
	padding: 5px 17px;
	text-align:center;
}
.table_dark tr:last-child td {
	border-bottom: none;
}
.table_dark td:last-child {
	border-right: none;
}
.table_dark tr:hover td {
	background:#a5c3cd;
}
.table_dark td.one {
	width:54px;
	height:54px;
	margin:0 0;
	padding:2px 2px;
}
.table_dark td.two {
	width:133px;
	height:87px;
	margin:0 0;
	padding:2px 2px;
}
.table_dark tr > *:nth-child(1) {
	display: none;
}
.table_dark tr > *:nth-child(4) {
	display: none;
}
/*-------------------КОНЕЦ-------------------------------*/
/*-------------------ТАБЛИЦА ПО ПОИСКУ-------------------*/
.table_dark2 {
	font-size: 14px;
	width: 665px;
	text-align: left;
	border-collapse: collapse;
	background: #d0e7ed;
	margin-top: 5px;
	margin-left: 5px;
}
.table_dark2 th {
	padding: 12px 17px;
	text-align:center;
}
.table_dark2 td {
	color: #000000;
	padding: 12px 35px;
	text-align:left;
}
.table_dark2 tr:last-child td {
	border-bottom: none;
	text-align:left;
}
.table_dark2 td:last-child {
	border-right: none;
}
.table_dark2 td.one {
	width:54px;
	height:54px;
	margin:0 0;
	padding:2px 2px;
}
.table_dark2 td.two {
	width:133px;
	height:87px;
	margin:0 0;
	padding:2px 2px;
}
/*--------------КОНЕЦ---------------------*/
img {
	float:left;
}
.foot {
	margin-bottom:15px;
	margin-top:10px;
	text-align:center;
	margin-left: 40px;
}
/* ОПЫТЫ С КНОПКОЙ -------------------------------------------------*/
#button-up{
	display: none;
	opacity:0.5;
	filter:alpha(opacity=50);
	transition: .3s;
	margin-left:49%;
	margin-bottom:30px;
	margin-top:30px;
}
#button-up:hover{
	cursor: pointer;
	opacity: 1;
	filter:alpha(opacity=100);
	transition: .3s;
}
.ulfoot {
	list-style-type: none;
	text-align:center;
	margin:0;
	padding:0;
	color:#52a3bc;
	font: 12px Tahoma, Arial, Helvetica, sans-serif;
}
hr {
	margin-top:30px;
	border: none;
	color: #155563;
	background-color: #155563;
	height: 2px;
}
/*-------ПОИСК НИКНЕЙМА----------------*/
.searh {
	width: auto;
	float: right;
	margin-right:-20px;
}
.searhnik {
	width: 200px;
	height: 35px;
	padding-left: 15px;
	border-radius: 32px;
	border: 2px solid #324b4e;
	background: #7a3338;
	outline: none;
	position: relative;
	transition: .3s linear;
}
.searhnik:focus {
	width: 258px;
	background:#d0e7ed;
}
.searhpoisk {
	padding-left: 10px;
	padding-right: 10px;
	height: 30px;
	background: #52a3bc;
	float:right;
	border:#52a3bc;
	margin-bottom:13px;
	right: 0;
	border-radius:10px;
	cursor:pointer;
	box-shadow: 5px 5px 5px rgba(0,0,0,0.5);
	transition: .3s;
}
.searhpoisk:hover {
	background-color:#52a3bc;
	box-shadow: 4px 4px 7px rgba(0,0,0,0.5)
}
.searhpoisk:active {
	background: #d0e7ed;
	box-shadow:none;
}
/*--------тесты инпута---------- */
input[type=text]:focus {
	background-color: #a5c3cd;
}
input[type=text] {
	width:80%;
	background:#d0e7ed;
	border: none;
	border-bottom: 2px solid #2f9ca4;
	padding:7px 10px;
}
.points_search {
	color:black;
	width:70px;
	font-size:13px;
	border:none;
	cursor:default;
}
.points_search[type=text]:focus {
	background-color:#d0e7ed;
}
.div_points_search {
	margin-top:5px;
	font-size:13px;
}
.form_input {
	margin-top:10px;
}
select {
	width: 50%;
	padding: 7px 10px;
	background: #d0e7ed;
	border: none;
	border-bottom: 2px solid #2f9ca4;
	outline:none;
}
select:focus {
	background-color: #a5c3cd;
}
.anketa {
	color: red;
	font-size: 18px;
	display: block;
	text-align: center;
	margin-top: 10px;

}
/*-----test-valid-------*/
.input-requirements {
	margin:0;
}
.input-requirements li{
	list-style:none;
	font-size:12px;
	font-style:italic;
	opacity:0.5;
}
.input-requirements li.one{
	margin-left:-15px;
}
select, .add, .ul_stop2, .div_points_search {
	position:relative;
}
.ul_stop2 {
	z-index:1;
}
select {
	z-index:2;
}
select:hover {
	cursor:pointer;
}
.add {
	z-index:2;
}
.div_points_search {
	z-index:2;
}
/*----add-and-del-prizes------*/
.add {
	text-align:center;
	margin: 7px;
	transition: .3s;
	padding-left: 10px;
	padding-right: 10px;
	height: 30px;
	line-height:30px;
	background: #52a3bc;
	border:#52a3bc;
	border-radius:10px;
	float:left;
	box-shadow: 5px 5px 5px rgba(0,0,0,0.5)
}
.add:hover {
	display:block;
	text-align:center;
	cursor:pointer;
	background-color:#52a3bc;
	box-shadow: 4px 4px 7px rgba(0,0,0,0.5)
}
.add:active {
	background: #d0e7ed;
	box-shadow:none;
}
.mainwindow {
	position: fixed;
	width: 100%;
	height: 100vh;
	top: 0;
	left: 0;
	background-color: rgba(0, 0, 0, .8);
	display: none;
	z-index:3;
}
.openwindow {
	position: absolute;
	width: 350px;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	padding-bottom:10px;
	text-align:center;
	box-sizing: border-box;
	background-color: #d7eaf0;
	color: black;
	border-radius:10px;
}
#closewidow {
	cursor: pointer;
	float: none;
	display: block;
	width: 100px;
	margin: auto;
}