body {
	background: #001319 url("/points/bg-body.jpg")no-repeat 50% 0 ;
	margin: 0;
	color: #001319;
	font: 14px/37px Tahoma, Arial, Helvetica, sans-serif;
	text-transform:initial;
	font-weight: normal;
	line-height: 18px;
}

.main {
	width: 1168px;
	margin: 0 auto;
}
#logos {
	height: 68px;
	padding: 56px 100px 0 184px;
	position: relative;
}
.clearfix:after {
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}
h1 {
	font-size:100%;
	font-weight:normal;
}
.logomwo {
	background:url("/points/LogoWMO.png") no-repeat;
	width: 220px;
	height: 104px;
	margin: 0;
	text-indent: -9999px;
	position: absolute;
	top: 35px;
	left: 44%;
}
.logomwo a {
	display:block;
	height:50%;
}
.table-t {
	background:url("/points/bg-main.png") no-repeat;
	min-height: 890px;
	padding: 53px 103px 0;
}

#nav-balls {
	float: right;
	width: 260px;
	margin-top: 10px;
}
.nav-bottom {
	margin: 0;
	padding: 13px 0 10px;
	list-style: none;
}
.nav-bottom li {
	padding-bottom: 3px;
	height: 54px;
	vertical-align: top;
	line-height: 17px;
}
.nav-bottom li a{
	display: block;
	width: 215px;
	height: 35px;
	padding: 19px 33px 0;
	overflow: hidden;
	background: url("/points/bg-add-nav.png") no-repeat;
	color: #ebe3e3;
	text-decoration: none;
}
.nav-bottom li a:hover, .nav-bottom li.active a {
	text-decoration:none;
	background-position:0 -54px;
}
ul {
	display: block;
	list-style-type: disc;
	margin-block-start: 1em;
	margin-block-end: 1em;
	margin-inline-start: 0;
	margin-inline-end: 0;
	padding-inline-start: 40px;
}
li {
	display: list-item;
	text-align: -webkit-match-parent;
}

.tabl {
	width:100%;
}
.ball {
	background:white;
	width:600px;
	height:auto;
	float:left;
}
/*a.disabled {
	pointer-events:none;
	cursor:default;
	color:#888888;

}*/
/*a {
	text-decoration:none;
	color:black;
}*/
.pagination {
	display:block;
	text-align:left;
	margin-top:10px;
	margin-left:-30px;
	list-style-type:none;
	color:black;
}
.pagination li {
	float:left;
	margin-left:3px;
	margin-right:3px;
	color:black;
	padding:5px;
	border-radius:3px;
	text-decoration:none;
}
.pagination li a {
	text-decoration:none;
	color:black;
}
.pagination li a.disabled {
	text-decoration:none;
	pointer-events:none;
	cursor:default;
	color:#888888;
}

.pagination li:hover {
	background:#d0e7ed;
}
.pagination li:active {
	background:#a5c3cd;
}

/* -------------------------------------------------------------------------
---------------ГУГУЛ ТАБЛИЦА------------------------------------------------
*/

/* -------------------------------------------------------------------------
-------------------ДАЛЬШЕ СПЕЦИАЛЬНО ДЛЯ СПИСКА ПРИЗОВ ---------------------
 -----------------------------------------------------------------------*/

.spisok-priz {
	padding-bottom:5px;
	float:left;
	width:675px;
	background:url("/points/bgg.jpg") repeat;
	margin-top:25px;
	margin-left:-20px;
	border-top-left-radius:21px;
	border-top-right-radius:21px;
	border: 2px solid #3d7c81;
}
.spisok-priz1 {
	float:left;
	width:675px;
	background:url("/points/bgg.jpg") repeat;
	margin-top:25px;
	margin-left: -20px;
	border-top-left-radius:21px;
	border-top-right-radius:21px;
	border: 2px solid #3d7c81;
}
.heding {
	position: relative;
	height: 37px;
	padding: 0 16px;
	background: url("/points/bg-ttl.gif") repeat-x;
	font: 14px/37px Tahoma, Arial, Helvetica, sans-serif;
	color: #feffff;
	text-transform: uppercase;
	-webkit-border-top-left-radius: 20px;
	-webkit-border-top-right-radius: 20px;
	-moz-border-radius-topleft: 20px;
	-moz-border-radius-topright: 20px;
	margin:0;
}
/* -------- ОБЩАЯ ТАБЛИЦА-----------------------
--------------НАЧАЛО----------------------------*/
.table_dark {
	font-size: 14px;
	width: 665px;
	text-align: left;
	border-collapse: collapse;
	background: #d0e7ed;
	margin-top: 5px;
	margin-left: 5px;
}
.table_dark th {
	border-bottom: 3px solid #a5c3cd;
	padding: 12px 17px;
	text-align:center;
}
.table_dark td {
	color: #000000;
	border-bottom:3px solid #a5c3cd;
	border-right:3px solid #a5c3cd;
	padding: 5px 17px;
	text-align:center;
}
.table_dark tr:last-child td {
	border-bottom: none;
}
.table_dark td:last-child {
	border-right: none;
}
.table_dark tr:hover td {
	/* text-decoration: underline;*/
	background:#a5c3cd;
}
.table_dark td.one {
	width:54px;
	height:54px;
	margin:0 0;
	padding:2px 2px;
}
.table_dark td.two {
	width:133px;
	height:87px;
	margin:0 0;
	padding:2px 2px;
}
/*table tr > *:nth-child(1) {
	display: none;
}*/
.table_dark tr > *:nth-child(1) {
	display: none;
}
.table_dark tr > *:nth-child(4) {
	display: none;
}
/*-------------------КОНЕЦ-------------------------------*/
/*-------------------ТАБЛИЦА ПО ПОИСКУ-------------------*/
.table_dark2 {
	font-size: 14px;
	width: 665px;
	text-align: left;
	border-collapse: collapse;
	background: #d0e7ed;
	margin-top: 5px;
	margin-left: 5px;
}
.table_dark2 th {
	border-bottom: 1px solid #a5c3cd;
	padding: 12px 17px;
	text-align:center;
}
.table_dark2 td {
	color: #000000;
	border-bottom:3px solid #a5c3cd;
	border-right:3px solid #a5c3cd;
	padding: 12px 17px;
	text-align:left;
}
.table_dark2 tr:last-child td {
	border-bottom: none;
	text-align:left;
}
.table_dark2 td:last-child {
	border-right: none;
}
.table_dark2 tr:hover td {
	/* text-decoration: underline;*/
	background:#a5c3cd;
}
.table_dark2 td.one {
	width:54px;
	height:54px;
	margin:0 0;
	padding:2px 2px;
}
.table_dark2 td.two {
	width:133px;
	height:87px;
	margin:0 0;
	padding:2px 2px;
}
/*table tr > *:nth-child(1) {
	display: none;
}*/

/*--------------КОНЕЦ---------------------*/
.novak {
	background: url(/novak_1.png) no-repeat;
	margin-top: 30px;
	float: right;
	text-indent: -9999px;
	padding:230px 0 230px 230px;
}
img {
	float:left;
}
.foot {
	margin-bottom:15px;
	margin-top:10px;
	text-align:-webkit-center;
	margin-left: 40px;
}
/* ОПЫТЫ С КНОПКОЙ -------------------------------------------------*/
#button-up{
	display: none;
	opacity:0.5;
	filter:alpha(opacity=50);
	transition: .3s;
	margin-left:49%;
	margin-bottom:30px;
	margin-top:30px;
}

#button-up:hover{
	cursor: pointer;
	opacity: 1;
	filter:alpha(opacity=100);
	transition: .3s;
}
.ulfoot {
	list-style-type: none;
	text-align:-webkit-center;
	margin:0;
	padding:0;
	color:#52a3bc;
	font: 12px Tahoma, Arial, Helvetica, sans-serif;
}
hr {
	margin-top:30px;
	border: none;
	color: #155563;
	background-color: #155563;
	height: 2px;
}

/* ВЫПАДАЮЩИЙ ДИВ-------------------------------------------------*/

.add_message1  {
	text-decoration: none;
}
.add_message2 {
	text-decoration: none;
}
.add_message3 {
	text-decoration: none;
}

/*-------ПОИСК НИКНЕЙМА----------------*/
/*.poisk {
	float:right;
	height:100px;
	width:280px;
	margin-right:-22px;
	background:#18292b;
}*/

.searh {
	width: auto;
	float: right;
	margin-right:-20px;
}
.searhnik {
	width: 200px;
	height: 35px;
	padding-left: 15px;
	border-radius: 32px;
	border: 2px solid #324b4e;
	background: #7a3338;
	outline: none;
	position: relative;
	transition: .3s linear;
}
.searhnik:focus {
	width: 258px;
	background:#d0e7ed;
}
.searhpoisk {
	width: 100px;
	height: 30px;
	background: #52a3bc;
	float:right;
	border:#52a3bc;
	margin-top:5px;
	right: 0;
	border-radius:10px;
	cursor:pointer;
}
.searhpoisk:focus {
	background:#52a3bc;
}


/*--------тесты инпута---------- */
input[type=text]:focus {
	background-color: #a5c3cd;
}
input[type=text] {
	width:80%;
	background:#d0e7ed;
	border: none;
	border-bottom: 2px solid #2f9ca4;
	padding:7px 10px;
}
select {
	width: 50%;
	padding: 7px 10px;
	background: #d0e7ed;
	border: none;
	border-bottom: 2px solid #2f9ca4;
}
select:focus {
	background-color: #a5c3cd;
}
.anketa {
	color: red;
	font-size: 18px;
	display: block;
	text-align: center;
	margin-top: 10px;

}

