@font-face{
	font-family: "Fulbo-Argenta";
	src: url("/points/fonts/Fulbo-Argenta.woff") format("woff");
	font-style: normal;
	font-weight: normal;
}
@font-face{
	font-family: 'TeX Gyre Heros';
	src: url("/points/fonts/texgyreheros.woff") format("woff");
	font-style: normal;
	font-weight: normal;
}