@font-face{
	font-family: 'a_FuturaRound Bold';
	src: url("/points/fonts/a_futuraround-bold.ttf") format("truetype"), url("/points/fonts/FuturaRoundBold.woff") format("woff");
	font-style: normal;
	font-weight: normal;
}
@font-face{
	font-family: 'TeX Gyre Heros';
	src: url("/points/fonts/texgyreheros.woff") format("woff");
	font-style: normal;
	font-weight: normal;
}
@font-face{
	font-family: 'BrushType-SemiBold';
	src: url("/points/fonts/brushtype-semibold.woff") format("woff");
	font-style: normal;
	font-weight: normal;
}
@font-face{
	font-family: 'Junegull-Regular';
	src: url("/points/fonts/junegull-regular.woff") format("woff");
	font-style: normal;
	font-weight: normal;
}