.pagination {
	display:block;
	text-align:left;
	margin-top:10px;
	margin-left:-30px;
	list-style-type:none;
	color:black;
}
.pagination li {
	float:left;
	margin-left:3px;
	margin-right:3px;
	color:black;
	padding-bottom: 5px;
	padding-top: 5px;
	border-radius:3px;
	text-decoration:none;
}
.pagination li a {
	text-decoration:none;
	color:black;
	padding:7px;
}
.pagination li a.disabled {
	text-decoration:none;
	pointer-events:none;
	cursor:not-allowed;
	color:#888888;
}
.pagination li:hover {
	background:#d0e7ed;
}
.pagination li:active {
	background:#a5c3cd;
}
.ul-pagination {
	text-align: center;
}
.ul-pagination .pagination {
	display: inline-block;
}
.ul-pagination .pagination li {
	display:inline;
}
.currentpage {
	padding:5px;
}