@media (max-width:425px)  {
	.inner-content {
		padding:2px;
	}
	.navigation {
		width:100%;
		float:none;
	}
	.accordion {
		max-width:100%;
		margin-bottom: 2px;
	}
	.accordion li.hide {
		height:0px;
		display:none;
	}
	.content-heading {
		clip-path:none;
	}
	.content {
		margin:auto;
		max-width:100%;
		width:100%;
		word-wrap: break-word;
	}
	.table_history {
		width:100%;
		font:12px 'Ubuntu';
	}
	.table_history th, td{
		font: 12px 'Ubuntu';
		padding: 1px 1px 1px 1px;
	}
	.table_history td:nth-child(4) {
		word-break: break-all;
	}
	.table_history td:nth-child(5) {
		word-break: break-all;
	}
	.table_history td:nth-child(6) {
		word-break: break-all;
	}
	.span-image img {
		width:90%;
	}
	.span-image iframe {
		width:auto;
		height:auto;
	}
	.content-foot {
		clip-path:none;
		max-width:100%;
		width:100%;
	}
	.button {
		width:auto;
		margin-top: 2px;
		margin-bottom:5px;
		display:block;
	}
	.input {
		width: 93%;
		margin:auto;
		display:block;
		margin-top:2px;
	}
	i.fa-position {
		margin: 0px;
		margin-top: -30px;
		margin-right: 5px;
		float: right;
	}
	.modal_div_external {
		margin: -40px;
		padding: 7px 30px;
		width: 240px;
	}
	.hide_menu {
		display:block;
	}
	.hide_menu h3 {
		margin-bottom:2px;
	}
	h1 {
		font: 25px 'Ubuntu';
	}
	.textarea {
		width:93%;
	}
	.btn-span {
		width:79px;
	}
	.btn-div {
		width:79px;
		margin:auto;
		margin-top:2px;
	}
	.no_bd {
		margin-left:0px;
	}
	.in-select {
		width:100%;
	}
}