header {
	text-align:center;
	padding-top:20px;
	font-size:40px;
	font-family:Arial;
}
body {
	width:1200px;
	margin:auto;
	background: #e8e8e8;
	font-family:Arial;
}
h3 {
	text-align:center;
}
.fon {
	background: white;
	box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
	border-radius:10px;
	padding-left:15px;
	margin-top:20px;
}
nav {
	width: 175px;
	float: left;
	height: 145px;
}
li {
	list-style-type:none;
}
.menu {
	margin-left:0;
	padding-left:0;
}
a.button15 {
	display: inline-block;
	font-family:arial, c, serif;
	font-size: 12px;
	font-weight: bold;
	color: rgb(68,68,68);
	text-decoration: none;
	user-select: none;
	padding: 10px 15px;
	outline: none;
	border: 1px solid rgba(0,0,0,.1);
	border-radius: 2px;
	background: rgb(245,245,245) linear-gradient(#f4f4f4, #f1f1f1);
	transition: all .218s ease 0s;
	margin: 5px 0;
}
a.button15:hover {
	color: rgb(24,24,24);
	border: 1px solid rgb(198,198,198);
	background: #f7f7f7 linear-gradient(#f7f7f7, #f1f1f1);
	box-shadow: 0 1px 2px rgba(0,0,0,.1);
}
a.button15:active {
	color:rgb(51, 51, 51);
	border:1px solid rgb(204, 204, 204);
	background:rgb(238, 238, 238) linear-gradient(rgb(238, 238, 238), rgb(224, 224, 224));
	box-shadow:0 1px 2px rgba(0, 0, 0, .1) inset;
}
.importb1 {
	margin-right:10px;
	width: auto;
	margin-left: 200px;
}
/*--------стили ввода------------*/
input[type='text']{
	height:100%;
	box-sizing:border-box;
}
.input {
	width:98%;
	padding-top: 6px;
	padding-bottom: 6px;
	border: none;
	background:#f1f1f1;
	text-align: center;
	font-size: 13px;
}
.input_checkbox {
	height: 20px;
	border: none;
	background:#f1f1f1;
	width: 99%;
	padding: 6px 0;
	text-align: center;
	font-size: 13px;
}
.textarea {
	border:none;
	background:#f1f1f1;
	width:99%;
	height:99%;
	margin-top:2px;
	margin:auto;
	font-size:13px;
	resize:vertical;
}
.block_button {
	display:block;
	text-align:right;
	margin-top: -15px;
}
.button10 {
	display: inline-block;
	font-family: arial, c, serif;
	font-size: 12px;
	font-weight: bold;
	color: rgb(68,68,68);
	text-decoration: none;
	user-select: none;
	padding: 10px 15px;
	outline: none;
	border: 1px solid rgba(0,0,0,.1);
	border-radius: 2px;
	background: rgb(245,245,245) linear-gradient(#f4f4f4, #f1f1f1);
	transition: all .218s ease 0s;
	margin: 0 0;
}
.button10:hover {
	color: rgb(24,24,24);
	border: 1px solid rgb(198,198,198);
	background: #f7f7f7 linear-gradient(#f7f7f7, #f1f1f1);
	box-shadow: 0 1px 2px rgba(0,0,0,.1);
	cursor:pointer;
}
.button10:active {
	color:rgb(51, 51, 51);
	border:1px solid rgb(204, 204, 204);
	background:rgb(238, 238, 238) linear-gradient(rgb(238, 238, 238), rgb(224, 224, 224));
	box-shadow:0 1px 2px rgba(0, 0, 0, .1) inset;
}
/* -------------чет не красится таблица--------------*/
.table_import1 {
	font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
	font-size: 14px;
	border-spacing: 0;
	width:100%;
}
.table_import1 th {
	background: #BCEBDD;
	color: black;
	text-shadow: 0 1px 1px gainsboro;
	padding: 10px 20px;
}

.table_import1 th, td {
	border-style: solid;
	border-width: 0 0 0 0;
	border-color:white;
	height:0;
}
.table_import1 th:nth-child(4), td:nth-child(4) {
	width:260px;
}
.table_import1 th:nth-child(5), td:nth-child(5) {
	width:120px;
}
.table_import1 th:first-child, td:first-child {
	text-align: left;
}
.table_import1 th:first-child {
	text-align:center;
}
.table_import1 th:last-child {
	border-right: none;
	text-align:center;
}
.table_import1 td {
	padding: 10px 20px;
}
.table_import1 tr td:last-child {
	border-right: none;
}
h3 {
	margin-left:10px;
	padding-top:5px;
	padding-bottom:5px;
}
.importb1 {
	background:linear-gradient(90deg, #ffd877, #fbffdf);
	box-shadow: inset 0 0 6px 6px white;
}
.table_dark2 {
	box-shadow: 0 0 25px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
	width:100%;
	font-size:13px;
	margin-bottom:20px;
	margin-left:3px;
	margin-right:3px;
	border-collapse:collapse;
}
.table_dark2 td {

}
.table_dark2 td, th {
	padding:3px;
	background:#f1f1f1;
	text-align:center;
	color:black;
}
.modal {
	display:none;
	position:fixed;
	z-index:1;
	left:0;
	top:0;
	width:100%;
	height:100%;
	overflow:auto;
	background-color:rgba(0,0,0,0.8);
}
.modal-content {
	background-color:#fefefe;
	margin:15% auto;
	padding:20px;
	border:1px solid #888;
	width:80%;
}
.close {
	color:#aaa;
	float:right;
	font-size:28px;
	font-weight:bold;
}
/*------------------ОКНО--------------------*/

.button {
	width: 180px;
	height: 30px;
	border-radius: 3px;
	background-color: #ff5252;
	text-align: center;
	cursor: pointer;
}

.button span {
	line-height: 31px;
	color: #fff;
	font-weight: bold;
	font-size: 14px;
	text-transform: uppercase;
}

.overlay {
	position: fixed;
	width: 100%;
	height: 100vh;
	top: 0;
	left: 0;
	background-color: rgba(0, 0, 0, .8);
	display: none;
}

.popup {
	position: absolute;
	width: 350px;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	padding-bottom:10px;
	text-align:center;
	box-sizing: border-box;
	background-color: #f7de80;
	color: #f00;
	border-radius:10px;
}
.close-popup {
	position: absolute;
	top: 10px;
	right: 15px;
	width: 20px;
	height: 20px;
	cursor: pointer;
}
.close-popup:before {
	content: '';
	background-color: #fff;
	position: absolute;
	height: 1px;
	width: 31px;
	top: 11px;
	left: -4px;
	transform: rotate(-45deg);
}
.close-popup:after {
	content: '';
	background-color: #fff;
	position: absolute;
	height: 1px;
	width: 31px;
	top: 11px;
	transform: rotate(45deg);
	left: -4px;
}
@media screen and (max-width: 768px) {
	.popup {
		width: 100%;
		height: 100vh;
		font-size: 15px;
	}
}
/*-----test modal windows--------*/
.modal_div_interior {
	position:absolute;
	z-index:0;
}
/*-----js close------ */
#hideMe {
	display:none;
}
.modal_div_content::after {
	content:attr(data-title);
}
.modal_div_external {
	position:relative;
	z-index: 100;
	left:70px;
	margin-top:-20px;
	background: #fffafa;
	border-left: 5px solid #bcebdd;
	border-top: 5px solid #bcebdd;
	padding: 7px 60px;
	box-shadow: 0 0 5px rgba(0,0,0,0.25), 0 6px 5px rgba(0,0,0,0.22);
}
.load_gif {
	position:absolute;
	margin-left: 15px;
	width: 28px;
	height: 28px;
	display: initial;
	margin-top: 2px;
}
.countfile[type=file] {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	position: absolute;
	z-index: -10;
}
.count_result {
	position:initial;
	z-index:0;
	margin-top:20px;
	width:40%;
	background: #f1f1f1;
}
.mainwindow {
	position: fixed;
	width: 100%;
	height: 100vh;
	top: 0;
	left: 0;
	background-color: rgba(0, 0, 0, .8);
	display: none;
	z-index:3;
}
.openwindow {
	position: absolute;
	width: 350px;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	padding-bottom:10px;
	text-align:center;
	box-sizing: border-box;
	background: linear-gradient(90deg, #ffd877, #fbffdf);
	color: black;
	border-radius:10px;
}
.closewidow {
	cursor: pointer;
	float: none;
	display: block;
	width: 100px;
	margin: auto;
	margin-top: 10px;
}
.disable {
	outline:none;
}
.disable:hover {
	cursor:auto;
}
.butnone {
	color: #cdcdcd;
	cursor:auto;
}
.butnone:hover {
	cursor:auto;
	color: #cdcdcd;
	border: 1px solid rgba(0,0,0,.1);
	box-shadow:none;
	background: rgb(245,245,245) linear-gradient(#f4f4f4, #f1f1f1);
}
.listIg {
	text-align:left;
	padding:5px;
	border:solid 1px #cdcdcd;
	line-height: 1.5;
}
.widthIg th:nth-child(4), td:nth-child(4) {
	width:50px;
}
.fixbtn {
	margin-top: 5px;
	width: 65px;
	text-align: center;
}
.date_check {
	margin-top: -2px;
	margin-left: -5px;
	margin-right: 2px;
}
/*----end----------*/