body {
	background: #e8e8e8;
}
.avtoriz {
	width:500px;
	height:270px;
	display:block;
	position:center;
	margin:auto;
	margin-top:100px;
	font-family:Arial;
	background: white;
	box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
	border-radius:10px;
}
.blockvis {
	text-align:center;
}
form {
	position:center;
	margin-left:50px;
}
.button {
	display: inline-block;
	font-family:arial, c, serif;
	font-size: 12px;
	font-weight: bold;
	color: rgb(68,68,68);
	text-decoration: none;
	user-select: none;
	padding: 6px 15px;
	outline: none;
	border: 1px solid rgba(0,0,0,.1);
	border-radius: 2px;
	background: rgb(245,245,245) linear-gradient(#f4f4f4, #f1f1f1);
	transition: all .218s ease 0s;
	margin: 15px 4px;
	margin-left:50%;
}
.button:hover {
	color: rgb(24,24,24);
	border: 1px solid rgb(198,198,198);
	background: #f7f7f7 linear-gradient(#f7f7f7, #f1f1f1);
	box-shadow: 0 1px 2px rgba(0,0,0,.1);
}
.button:active {
	color: rgb(51,51,51);
	border: 1px solid rgb(204,204,204);
	background: rgb(238,238,238) linear-gradient(rgb(238,238,238), rgb(224,224,224));
	box-shadow: 0 1px 2px rgba(0,0,0,.1) inset;
}
.login {
	background:#f1f1f1;
	height:20px;
	color:#f05555;
}
b {
	text-align: center;
	display: block;
	padding-top: 135px;
	background: #e8e8e8;
}